langchain==0.3.4
langchain-chroma==0.1.4
langchain-core==0.3.13
langchain-groq==0.2.0
streamlit==1.39.0
python-dotenv==1.0.1 
langchain-google-genai==2.0.3
langchain-community==0.3.3
protobuf==3.20.*
pysqlite3-binary
distutils