langchain==0.3.*
langchain-chroma==0.1.*
langchain-core==0.3.*
langchain-groq==0.2.*
streamlit==1.39.*
python-dotenv==1.0.*
langchain-google-genai==2.0.*
langchain-community==0.3.*
protobuf==3.20.*
pysqlite3-binary